<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> -->
</head>
<body>

  <% if current_user %>
    <p>Hello <%= current_user.user_name %>!</p>
    <%= link_to 'Sessions', sessions_url %>
    <%= button_to 'Logout', session_url("0"), method: :delete %>
  <% else %>
    <%= link_to 'Login', new_session_url %> or <%= link_to "Sign up", new_user_url %>
  <% end %>

  <%= render partial: 'layouts/messages' %>

  <%= yield %>

</body>
</html>
